body{
    padding: 20px;
    background-color: #E6FFE6;
    background-image: url(../images/farmBackgroundimg.jpg);
    color: #001A00;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    padding: 5px;
    background-color: #001A00;
    color: #E6FFE6;
    
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: #E6FFE6;
}
h1{
    text-align: center;
}
/* register and login form styling*/

.registerForm ,.loginForm {
    background-color: #00d10089;
    padding: 20px;
    width: 400px;
    height: fit-content;
    border-radius: 5px;
    margin: 0 auto;
   box-shadow: #00800051 1px 4px 4px 1px;
    
}

.registerForm label , .loginForm label{
    display: block;
    font-weight: bold;
    padding: 5px;
    

}
.registerForm input, .loginForm input{
    padding: 10px 20px;
    border-color: #E6FFE6;
    border-radius: 5px;
    width:90%;
    color: #001A00;
}

.registerForm button ,.loginForm button{
    padding: 10px;
    display: block;
    margin: 0 auto;
    background-color: #001A00;
    color: #E6FFE6;
    font-weight: bold;
    border-radius: 5px;
    width:90%;
}


 /*weather dashboard styling*/
.weatherDashboard{
    background-color: rgba(255, 255, 255, 0.423) ;
    padding: 10px;
    border-radius: 3px;
    width: 600px;
    margin: 0 auto;
    box-shadow: #008000 1px 1px 4px 1px;
}
.weatherDashboard h2{
    margin: 0;
    
}
.searchForm  input{
    background-color :  #E6FFE6 ;
    padding: 15px 20px;
    border: #001A00;
    border-radius: 5px; 
    width: 70%;
    font-size: 16px;
    color: #001A00;

}
.searchForm button{
    padding: 14px 29px;
    background-color: #001A00;
    border-radius: 3px;
    color: #E6FFE6;
    font-weight: bolder;
}
.cityForecast{
    padding: 35px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.cityForecast span{
    color:#00FF00;
    font-weight: 600;
}
.weatherTempSection{
    display: flex;  
}
.weatherTemp{
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
    color: #001A00;
}
.weatherTempIcon{
    margin-top: 5px;
    
}
.weatherTempSymbol{
    padding-top: 20px;
    justify-content: space-around;
}
.weatherForecast{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #00ff0014;
    border-radius: 5px;
}
.weatherForecastTemp{
    color:#00FF00;
    padding: 0 10px;
}

/* styling marketprices dashboard*/
.searchSection {
    align-items: center;
    padding: 10px;
}
.searchSection  input{
    background-color :  #E6FFE6 ;
    padding: 15px 20px;
    border: #001A00;
    border-radius: 5px; 
    width: 70%;
    font-size: 16px;
    color: #001A00;

}

.searchSection select{
    padding: 14px 29px;
    background-color: #001A00;
    border-radius: 3px;
    color: #E6FFE6;
    font-weight: bolder;
}
.searchSection button{
    padding: 14px 29px;
    background-color: #001A00;
    border-radius: 3px;
    color: #E6FFE6;
    font-weight: bolder;
}
.marketGrid{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;

}
.marketCard{
    background-color: #e6ffe677;
    padding:10px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
 .marketCard button{
    padding: 14px 29px;
    background-color: #001A00;
    border-radius: 3px;
    color: #E6FFE6;
    font-weight: bolder;
 }
.marketCard img {
    border-radius: 5px;
    width: 300px;
    height: 200px;
}
 
/* responsive*/

@media screen and (min-width:480px) and (macx-width